<!DOCTYPE HTML>
<html ng-app="app">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="site.css" >
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js" type="text/javascript"></script>
    </head>
 <body>
   <div class="container-fluid" style="border:solid 2px black;" ng-controller="SearchController">
        <div class="row" style="border-bottom:2px solid black;padding:10px;">
            <form name="searchForm" ng-submit="submit(searchString)" class="col-md-6">
	            <input type="text" name="searchText" 
                    ng-model="searchString" required 
                    class="search-box" 
                    placeholder="Enter search query" />
		        <button class="close-icon" type="reset" ng-click="searchString=''"></button>
         </form>
        </div>
        
        <div class="row" style="min-height:200px;">
  
        <div class="col-md-2" 
            style="height:200px;margin:5px;"
            ng-repeat="user in users | filter:searchString"
            ng-class="{'red': user.gender==='M', 'blue': user.gender==='F'}">
            
             <div class="caption">
                  <h3 ng-bind="user.name"></h3>  
                  <p ng-bind="user.email"></p>
             </div>        
        </div> 
   </div>    

   <script src="app.js" type="text/javascript"></script>
   <script src="searchController.js" type="text/javascript"></script>
   <script src="searchService.js" type="text/javascript"></script>
 </body>
</html>
